{% extends 'base.html' %}

{%  load static %}


{% block content %}

<div class="box">
    <div class="title-container">
        <div class = "title">Upload a CSV File</div>
    </div>

    <div class="main-text">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    
        {% if result is not None %}
            <p>Average of numbers: <strong>{{ result }}</strong></p>
        {% endif %}
    
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
    

</div>

{% endblock %}

{% block script %}
{% endblock script %}
